// import variables
@import "~design-system/dist/scss/wds-functions/index.scss";
@import "~design-system/dist/scss/wds-mixins/index.scss";
@import "~design-system/dist/scss/wds-variables/index.scss";

// import wds-button
@import "~design-system/dist/scss/wds-components/_global-navigation.scss";

// hacks
.wds-global-navigation__partner-slot-image {
	max-height: 35px;
	max-width: 60px;
}

.wds-global-navigation__search-toggle {
	background: transparent;
	border: 0;
	color: inherit;
	font: inherit;
}

.wds-global-navigation__logo {
	position: relative;
}

.wds-global-navigation__edition-text {
	bottom: -2px;
	color: $wds-fandom-color-middle-gray;
	font-size: 10px;
	font-weight: 500;
	letter-spacing: .5px;
	position: absolute;
	text-align: right;
	text-transform: uppercase;
	width: 130px;

	@media #{$wds-breakpoint-l-up} {
		padding-right: 42px;
		right: 0;
	}
}
